In [1]:
from __future__ import print_function

from abc import ABCMeta, abstractmethod
import datetime
import os, os.path

import numpy as np
import pandas as pd

In [2]:
s = 'AAPL'
csv_dir = 'D:/prepare_for_test/my_strading/mac'

In [31]:
            b= pd.io.parsers.read_csv(
                os.path.join(csv_dir, '%s.csv' % s),
                header=0,  parse_dates=True,
                names=[
                    'datetime', 'open', 'high', 
                    'low', 'close', 'volume', 'adj_close'
                ]
            ).sort_index()
    
            b.head()

     datetime      open      high       low     close    volume  adj_close
0  1980-12-12  0.513393  0.515625  0.513393  0.513393  0.421597  117258400
1  1980-12-15  0.488839  0.488839  0.486607  0.486607  0.399601   43971200
2  1980-12-16  0.453125  0.453125  0.450893  0.450893  0.370272   26432000
3  1980-12-17  0.462054  0.464286  0.462054  0.462054  0.379437   21610400
4  1980-12-18  0.475446  0.477679  0.475446  0.475446  0.390436   18362400

In [47]:
            a= pd.io.parsers.read_csv(
                os.path.join(csv_dir, '%s.csv' % s),
                header=0, index_col=0, parse_dates=True,
                names=[
                    'datetime', 'open', 'high', 
                    'low', 'close', 'volume', 'adj_close'
                ]
            ).sort_index();
    
            a.head()

                open      high       low     close    volume  adj_close
datetime
1980-12-12  0.513393  0.515625  0.513393  0.513393  0.421597  117258400
1980-12-15  0.488839  0.488839  0.486607  0.486607  0.399601   43971200
1980-12-16  0.453125  0.453125  0.450893  0.450893  0.370272   26432000
1980-12-17  0.462054  0.464286  0.462054  0.462054  0.379437   21610400
1980-12-18  0.475446  0.477679  0.475446  0.475446  0.390436   18362400

In [52]:
a=a.convert_objects(convert_numeric=True)

D:\ANA64Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [53]:
a["adj_close"]

datetime
1980-12-12    117258400.0
1980-12-15     43971200.0
1980-12-16     26432000.0
1980-12-17     21610400.0
1980-12-18     18362400.0
1980-12-19     12157600.0
1980-12-22      9340800.0
1980-12-23     11737600.0
1980-12-24     12000800.0
1980-12-26     13893600.0
1980-12-29     23290400.0
1980-12-30     17220000.0
1980-12-31      8937600.0
1981-01-02      5415200.0
1981-01-05      8932000.0
1981-01-06     11289600.0
1981-01-07     13921600.0
1981-01-08      9956800.0
1981-01-09      5376000.0
1981-01-12      5924800.0
1981-01-13      5762400.0
1981-01-14      3572800.0
1981-01-15      3516800.0
1981-01-16      3348800.0
1981-01-19     10393600.0
1981-01-20      7520800.0
1981-01-21      3976000.0
1981-01-22      8887200.0
1981-01-23      2805600.0
1981-01-26      6160000.0
                 ...
2017-09-11     31580800.0
2017-09-12     71714000.0
2017-09-13     44907400.0
2017-09-14     23760700.0
2017-09-15     49114600.0
2017-09-18     28269400.0
2017-09-19     20810600.0
2017-09-20     52951400.0
2017-09-21     37511700.0
2017-09-22     46645400.0
2017-09-25     44387300.0
2017-09-26     36660000.0
2017-09-27     25504200.0
2017-09-28     22005500.0
2017-09-29     26299800.0
2017-10-02     18698800.0
2017-10-03     16230300.0
2017-10-04     20163800.0
2017-10-05     21283800.0
2017-10-06     17407600.0
2017-10-09     16262900.0
2017-10-10     15617000.0
2017-10-11     16905600.0
2017-10-12     16125100.0
2017-10-13     16394200.0
2017-10-16     24121500.0
2017-10-17     18997300.0
2017-10-18     16374200.0
2017-10-19     42584200.0
2017-10-20     23845900.0
Name: adj_close, dtype: float64

In [54]:
a["adj_close"].pct_change()

datetime
1980-12-12         NaN
1980-12-15   -0.625006
1980-12-16   -0.398879
1980-12-17   -0.182415
1980-12-18   -0.150298
1980-12-19   -0.337908
1980-12-22   -0.231690
1980-12-23    0.256595
1980-12-24    0.022424
1980-12-26    0.157723
1980-12-29    0.676340
1980-12-30   -0.260640
1980-12-31   -0.480976
1981-01-02   -0.394110
1981-01-05    0.649431
1981-01-06    0.263950
1981-01-07    0.233135
1981-01-08   -0.284795
1981-01-09   -0.460067
1981-01-12    0.102083
1981-01-13   -0.027410
1981-01-14   -0.379981
1981-01-15   -0.015674
1981-01-16   -0.047771
1981-01-19    2.103679
1981-01-20   -0.276401
1981-01-21   -0.471333
1981-01-22    1.235211
1981-01-23   -0.684310
1981-01-26    1.195609
                ...
2017-09-11    0.103780
2017-09-12    1.270810
2017-09-13   -0.373799
2017-09-14   -0.470896
2017-09-15    1.067052
2017-09-18   -0.424420
2017-09-19   -0.263847
2017-09-20    1.544444
2017-09-21   -0.291582
2017-09-22    0.243489
2017-09-25   -0.048410
2017-09-26   -0.174088
2017-09-27   -0.304304
2017-09-28   -0.137181
2017-09-29    0.195147
2017-10-02   -0.289014
2017-10-03   -0.132014
2017-10-04    0.242355
2017-10-05    0.055545
2017-10-06   -0.182120
2017-10-09   -0.065759
2017-10-10   -0.039716
2017-10-11    0.082513
2017-10-12   -0.046168
2017-10-13    0.016688
2017-10-16    0.471344
2017-10-17   -0.212433
2017-10-18   -0.138078
2017-10-19    1.600689
2017-10-20   -0.440029
Name: adj_close, dtype: float64